<!DOCTYPE html>
<html xmlns:th="http://www.Thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品登録</title>
</head>
<body>
	<header>
		<h1>商品登録</h1>
	</header>
	<main>
		<article>
			<form action="/admin/items/add" method="post">
			<table border="1">
				<tr>
					<th>カテゴリーID</th>
					<td>
						<select name="categoryId">
							<option th:each="category:${categoryList}"
							        th:value="${category.id}"
							        th:text="${category.name}"></option>
						</select>
					</td>
				</tr>
				<tr>
					<th>商品名</th>
					<td><input type="text" name="name" /></td>
				</tr>
				<tr>
					<th>値段</th>
					<td><input type="number" name="price" /></td>
				</tr>
			</table>
			<button>登録</button>
			</form>
		</article>
	</main>
</body>
</html>