<!DOCTYPE html>
<html xmlns:th="http://www.Thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>顧客一覧</title>
</head>
<body>
	<header>
		<h1>顧客一覧</h1>
	</header>
	<mai>
		<aritcle>
			<table border="1">
				<tr>
					<th>顧客D</th>
					<th>名前</th>
					<th>住所</th>
					<th>電話番号</th>
					<th>メールアドレス</th>
					<th></th>
				</tr>
				<tr th:each="customer:${customerList}">
					<td th:text="${customer.id}"></td>
					<td th:text="${customer.name}"></td>
					<td th:text="${customer.address}"></td>
					<td th:text="${customer.tel}"></td>
					<td th:text="${customer.email}"></td>
					<td>
						<a th:href="'/admin/customers/' + ${customer.id} + '/orders'">注文情報</a>
					</td>
				</tr>
			</table>
			<a href="/admin/items">商品管理</a>
		</aritcle>
	</mai>
</body>
</html>