<!DOCTYPE html>
<html xmlns:th="http://www.Thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
<style>
	a {
		margin-right: 5px;
	}
</style>
</head>
<body>
	<header>
		<h1>賞品一覧</h1>
	</header>
	<main>
		<nav>
			<a href="/admin/items">全商品</a>
			<a th:each="category:${categoryList}"
			   th:href="'/admin/items?categoryId=' + ${category.id}"
			   th:text="${category.name}"></a>
		</nav>
		<article>
			<table border="1">
				<tr>
					<th>商品ID</th>
					<th>商品名</th>
					<th>値段</th>
					<th></th>
					<th></th>
				</tr>
				<tr th:each="item:${itemList}">
					<td th:text="${item.id}"></td>
					<td th:text="${item.name}"></td>
					<td th:text="${item.price}"></td>
					<td>
						<form th:action="'/admin/items/' + ${item.id} + '/edit'" method="get">
							<button>更新</button>
						</form>
					</td>
					<td>
						<form th:action="'/admin/items/' + ${item.id} + '/delete'" method="post">
							<button>削除</button>
						</form>
					</td>
				</tr>
			</table>
			<a href="/admin/items/add">新規商品登録</a>
		</article>
	</main>
</body>
</html>