<!DOCTYPE html>
<html xmlns:th="http://www.Thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理者ログイン</title>
</head>
<body>
	<header>
		<h1>管理者ログイン</h1>
	</header>
	<main>
		<artile>
			<form action="/admin/login" method="post">
				<input type="text" name="name" placeholder="ユーザ名" />
				<br />
				<input type="text" name="password" placeholder="パスワード" />
				<br />
				<button>ログイン</button>
			</form>
			<p th:if="${error}" th:text="${error}" style="color: tomato;"></p>
		</artile>
	</main>
</body>
</html>